name: workflow-1

on: push

jobs:
    first-job:
        runs-on: ubuntu-latest
        steps:
        - name: checkout repo
          uses: actions/checkout@v6
        - name: welcome messaage
          run: echo "welcome messaage"
        - name: cowsay task
          run: ./script.sh